Branding_Automation/call_analysis/n8n_workflow.json
{
    "name": "Paioneers — Fireflies Call Analysis Pipeline",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "fireflies-transcript-complete",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-webhook-trigger",
            "name": "Fireflies Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                400
            ],
            "webhookId": "fireflies-call-analysis"
        },
        {
            "parameters": {
                "jsCode": "// SECURITY: Validate Fireflies HMAC signature\n// Fireflies sends x-hub-signature as SHA-256 HMAC of the raw body\nconst crypto = require('crypto');\nconst secret = $env.FIREFLIES_WEBHOOK_SECRET;\nconst sig = $input.first().headers['x-hub-signature'];\nconst body = JSON.stringify($input.first().body);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\nif (sig !== expected) {\n  throw new Error('Invalid Fireflies webhook signature — possible spoofed request');\n}\n// Extract meetingId and pass it forward\nconst meetingId = $input.first().body.meetingId;\nif (!meetingId) throw new Error('Webhook body missing meetingId');\nreturn [{ json: { meetingId } }];"
            },
            "id": "node-validate-sig",
            "name": "Validate Signature",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.fireflies.ai/graphql",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{$env.FIREFLIES_API_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "query GetTranscript($id: String!) { transcript(id: $id) { title date duration organizer_email participants sentences { speaker_name text start_time end_time } summary { keywords action_items overview } } }"
                        },
                        {
                            "name": "variables",
                            "value": "={{ JSON.stringify({ id: $json.meetingId }) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-fetch-transcript",
            "name": "Fetch Full Transcript (Fireflies GraphQL)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build a clean speaker-labelled transcript string from the sentences array\n// Cap at ~60,000 chars to stay within Claude's context window safely\nconst transcript = $input.first().json.data.transcript;\nconst sentences = transcript.sentences || [];\nconst lines = sentences.map(s => `${s.speaker_name}: ${s.text}`);\nlet transcriptText = lines.join('\\n');\nif (transcriptText.length > 60000) {\n  transcriptText = transcriptText.slice(0, 60000) + '\\n\\n[TRANSCRIPT TRUNCATED — TOO LONG]';\n}\nreturn [{\n  json: {\n    meetingId: $('Validate Signature').first().json.meetingId,\n    meetingTitle: transcript.title || 'Untitled Meeting',\n    meetingDate: transcript.date || '',\n    meetingDuration: transcript.duration || 0,\n    organizerEmail: transcript.organizer_email || '',\n    participants: transcript.participants || [],\n    firefliesSummary: transcript.summary?.overview || '',\n    transcriptText\n  }\n}];"
            },
            "id": "node-format-transcript",
            "name": "Format Transcript",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "model": "anthropic/claude-haiku-3-5",
                "messages": {
                    "messageType": "define",
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are a precise data extraction engine for sales call analysis. Your ONLY job is to extract factual information from the transcript below. Rules:\n1. Extract only what is explicitly stated. Do NOT infer or assume.\n2. For any field where the information is not present, output null.\n3. Do NOT summarise or editorialize. Raw facts only.\n4. Output valid JSON only — no preamble, no explanation, no markdown fences."
                        },
                        {
                            "role": "user",
                            "content": "=Extract data from this call transcript and return a JSON object matching this exact schema. All nullable fields MUST be null if not found — never guess.\n\nSCHEMA:\n{\n  \"meeting_meta\": { \"title\": \"string\", \"date\": \"string\", \"duration_minutes\": number, \"organizer\": \"string\", \"attendees\": [\"string\"] },\n  \"prospect\": { \"company_name\": \"string|null\", \"contact_name\": \"string|null\", \"role\": \"string|null\", \"industry\": \"string|null\", \"company_size\": \"string|null\" },\n  \"pain_points\": [\"string\"],\n  \"current_solution\": \"string|null\",\n  \"budget_signals\": \"string|null\",\n  \"timeline_signals\": \"string|null\",\n  \"objections\": [\"string\"],\n  \"key_quotes\": [\"string\"],\n  \"action_items\": [{ \"owner\": \"string\", \"action\": \"string\", \"due_date\": \"string|null\" }],\n  \"next_steps\": \"string|null\",\n  \"overall_sentiment\": \"positive|neutral|negative|mixed\"\n}\n\nMEETING METADATA:\nTitle: {{ $json.meetingTitle }}\nDate: {{ $json.meetingDate }}\nDuration (seconds): {{ $json.meetingDuration }}\nOrganizer: {{ $json.organizerEmail }}\nParticipants: {{ $json.participants.join(', ') }}\n\nTRANSCRIPT:\n{{ $json.transcriptText }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0
                }
            },
            "id": "node-agent1-extract",
            "name": "Agent 1: Data Extractor (Claude Haiku)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                1120,
                400
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openrouter-credential",
                    "name": "OpenRouter (via OpenAI compat)"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse and validate Agent 1 JSON output\n// Strict check: ensure all required fields are present\nconst raw = $input.first().json.text || $input.first().json.content || $input.first().json.message?.content || '';\nlet parsed;\ntry {\n  // Strip markdown code fences if model wrapped in them\n  const cleaned = raw.replace(/^```json\\n?/,'').replace(/^```\\n?/,'').replace(/\\n?```$/,'').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Agent 1 returned invalid JSON. Raw output: ' + raw.slice(0, 500));\n}\n// Validate required fields\nconst required = ['meeting_meta','prospect','pain_points','objections','action_items','overall_sentiment'];\nconst missing = required.filter(k => !(k in parsed));\nif (missing.length) {\n  throw new Error('Agent 1 JSON missing required fields: ' + missing.join(', '));\n}\nconst validSentiments = ['positive','neutral','negative','mixed'];\nif (!validSentiments.includes(parsed.overall_sentiment)) {\n  parsed.overall_sentiment = 'neutral'; // safe fallback\n}\n// Attach original transcript context for Agent 2\nparsed._firefliesSummary = $('Format Transcript').first().json.firefliesSummary;\nreturn [{ json: parsed }];"
            },
            "id": "node-validate-json",
            "name": "Validate & Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                400
            ]
        },
        {
            "parameters": {
                "model": "anthropic/claude-sonnet-4-5",
                "messages": {
                    "messageType": "define",
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are a senior sales strategist at Paioneers B.V. You will receive structured data extracted from a sales call. Your job is to write three narrative blocks and nothing else. Be direct, confident, and specific. Use the prospect's actual situation — never generic advice.\n\nOutput ONLY a valid JSON object with exactly these three keys:\n- executive_summary: 2-3 sentence paragraph. What happened, high signal, key outcome.\n- strategic_assessment: What does this tell us about the prospect's readiness, deal risk, and fit with Paioneers?\n- recommended_approach: Specific next move for the sales rep. What to do, how to frame it, and why.\n\nNo preamble. No explanation. No markdown fences. JSON only."
                        },
                        {
                            "role": "user",
                            "content": "=EXTRACTED CALL DATA:\n{{ JSON.stringify($json, null, 2) }}\n\nFIREFLIES AI SUMMARY (for additional context, do not copy verbatim):\n{{ $json._firefliesSummary }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "node-agent2-synthesize",
            "name": "Agent 2: Strategic Synthesizer (Claude Sonnet)",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                1560,
                400
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openrouter-credential",
                    "name": "OpenRouter (via OpenAI compat)"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Agent 2 output and merge both agent payloads into final templateData\nconst agent2Raw = $input.first().json.text || $input.first().json.content || $input.first().json.message?.content || '';\nlet agent2;\ntry {\n  const cleaned = agent2Raw.replace(/^```json\\n?/,'').replace(/^```\\n?/,'').replace(/\\n?```$/,'').trim();\n  agent2 = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('Agent 2 returned invalid JSON. Raw: ' + agent2Raw.slice(0, 500));\n}\n// Merge Agent 1 extraction with Agent 2 narrative\nconst agent1 = $('Validate & Parse JSON').first().json;\nconst merged = {\n  ...agent1,\n  executive_summary: agent2.executive_summary || '',\n  strategic_assessment: agent2.strategic_assessment || '',\n  recommended_approach: agent2.recommended_approach || ''\n};\n// Clean internal key\ndelete merged._firefliesSummary;\nreturn [{ json: merged }];"
            },
            "id": "node-merge",
            "name": "Merge Agent Outputs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Inject templateData into the HTML template using simple string replacement\n// The template uses {{key}} and Handlebars-style helpers which we resolve here\nconst data = $input.first().json;\n\n// Helpers\nconst esc = s => (s == null ? '' : String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;'));\nconst sentimentClass = s => 'sentiment-' + (s || 'neutral');\n\n// Render attendees list\nconst attendeesHtml = (data.meeting_meta?.attendees || []).map(a => `<li>${esc(a)}</li>`).join('');\n\n// Render pain points\nconst painPointsHtml = (data.pain_points || []).map(p => `<li>${esc(p)}</li>`).join('');\n\n// Render objections\nconst objectionsHtml = data.objections?.length\n  ? `<ul>${data.objections.map(o => `<li>${esc(o)}</li>`).join('')}</ul>`\n  : '<p class=\"muted\">No objections recorded.</p>';\n\n// Render key quotes\nconst quotesSlide = data.key_quotes?.length\n  ? `<section class=\"slide\">\n      <p class=\"kicker\">Voice of Prospect</p>\n      <h2>Key Quotes</h2>\n      <div style=\"display: grid; gap: var(--space-md);\">\n        ${data.key_quotes.map(q => `<blockquote class=\"quote-block\">&ldquo;${esc(q)}&rdquo;</blockquote>`).join('')}\n      </div>\n    </section>`\n  : '';\n\n// Render action items table rows\nconst actionItemsContent = data.action_items?.length\n  ? `<div class=\"table-wrap\"><table><thead><tr><th>Owner</th><th>Action</th><th>Due Date</th></tr></thead><tbody>${\n      data.action_items.map(ai => `<tr><td>${esc(ai.owner)}</td><td>${esc(ai.action)}</td><td>${ai.due_date ? esc(ai.due_date) : '<span class=\"muted\">TBD</span>'}</td></tr>`).join('')\n    }</tbody></table></div>`\n  : '<div class=\"card\"><p class=\"muted\">No explicit action items recorded.</p></div>';\n\n// Render next step line\nconst nextStepHtml = data.next_steps\n  ? `<p style=\"margin-top: var(--space-md); font-weight: 700; color: var(--brand-primary);\">Agreed Next Step: ${esc(data.next_steps)}</p>`\n  : '';\n\n// Read the base HTML template (must be stored as a file or hardcoded string)\n// For n8n: the template is read from a previous node or passed as env variable.\n// Here we assume the template HTML is available as $env.CALL_ANALYSIS_TEMPLATE\n// or you read it from a Read Binary File node output.\nlet html = $env.CALL_ANALYSIS_TEMPLATE_HTML || '';\n\n// Simple replacements\nconst replacements = {\n  '{{meeting_meta.title}}': esc(data.meeting_meta?.title),\n  '{{meeting_meta.date}}': esc(data.meeting_meta?.date),\n  '{{meeting_meta.duration_minutes}}': esc(String(data.meeting_meta?.duration_minutes || '')),\n  '{{meeting_meta.organizer}}': esc(data.meeting_meta?.organizer),\n  '{{overall_sentiment}}': esc(data.overall_sentiment),\n  'sentiment-{{overall_sentiment}}': sentimentClass(data.overall_sentiment),\n  '{{prospect.company_name}}': esc(data.prospect?.company_name || '—'),\n  '{{prospect.contact_name}}': esc(data.prospect?.contact_name || '—'),\n  '{{prospect.role}}': esc(data.prospect?.role || '—'),\n  '{{prospect.industry}}': esc(data.prospect?.industry || '—'),\n  '{{prospect.company_size}}': esc(data.prospect?.company_size || '—'),\n  '{{executive_summary}}': esc(data.executive_summary),\n  '{{strategic_assessment}}': esc(data.strategic_assessment),\n  '{{recommended_approach}}': esc(data.recommended_approach),\n};\n\nfor (const [k, v] of Object.entries(replacements)) {\n  html = html.replace(new RegExp(k.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'g'), v);\n}\n\n// Inject dynamic blocks\nhtml = html.replace('<!--ATTENDEES_LIST-->', attendeesHtml);\nhtml = html.replace('<!--PAIN_POINTS_LIST-->', painPointsHtml);\nhtml = html.replace('<!--OBJECTIONS_BLOCK-->', objectionsHtml);\nhtml = html.replace('<!--QUOTES_SLIDE-->', quotesSlide);\nhtml = html.replace('<!--ACTION_ITEMS_CONTENT-->', actionItemsContent);\nhtml = html.replace('<!--NEXT_STEP_HTML-->', nextStepHtml);\n\n// Signal fields with null handling\nconst currentSolution = data.current_solution ? esc(data.current_solution) : '<span class=\"signal-null\">Not mentioned</span>';\nconst budgetSignals = data.budget_signals ? esc(data.budget_signals) : '<span class=\"signal-null\">Not mentioned</span>';\nconst timelineSignals = data.timeline_signals ? esc(data.timeline_signals) : '<span class=\"signal-null\">Not mentioned</span>';\nhtml = html.replace('<!--CURRENT_SOLUTION-->', currentSolution);\nhtml = html.replace('<!--BUDGET_SIGNALS-->', budgetSignals);\nhtml = html.replace('<!--TIMELINE_SIGNALS-->', timelineSignals);\n\nreturn [{ json: { html, meetingTitle: data.meeting_meta?.title || 'call-analysis' } }];"
            },
            "id": "node-build-html",
            "name": "Build HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                400
            ]
        },
        {
            "parameters": {
                "operation": "htmlToPdf",
                "html": "={{ $json.html }}",
                "options": {
                    "format": "A4",
                    "orientation": "portrait",
                    "printBackground": true,
                    "margin": {
                        "top": "15mm",
                        "bottom": "15mm",
                        "left": "10mm",
                        "right": "10mm"
                    }
                }
            },
            "id": "node-html-to-pdf",
            "name": "HTML → PDF",
            "type": "n8n-nodes-html-to-pdf.htmlToPdf",
            "typeVersion": 1,
            "position": [
                2220,
                400
            ]
        },
        {
            "parameters": {
                "operation": "upload",
                "driveId": {
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "mode": "id",
                    "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}"
                },
                "name": "={{ $('Merge Agent Outputs').first().json.meeting_meta.date + ' — ' + $('Merge Agent Outputs').first().json.meeting_meta.title + '.pdf' }}",
                "inputDataFieldName": "data",
                "options": {}
            },
            "id": "node-upload-drive",
            "name": "Upload to Google Drive",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                2440,
                400
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "mode": "id",
                    "value": "={{ $env.SLACK_CHANNEL_ID }}"
                },
                "text": "=✅ *Call Analysis Ready*\n*{{ $('Merge Agent Outputs').first().json.meeting_meta.title }}*\n📅 {{ $('Merge Agent Outputs').first().json.meeting_meta.date }} · {{ $('Merge Agent Outputs').first().json.meeting_meta.duration_minutes }} min · Sentiment: {{ $('Merge Agent Outputs').first().json.overall_sentiment }}\n\n📄 <{{ $json.webViewLink }}|View PDF in Google Drive>",
                "otherOptions": {}
            },
            "id": "node-slack-notify",
            "name": "Slack Notification",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                2660,
                400
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "mode": "id",
                    "value": "={{ $env.SLACK_CHANNEL_ID }}"
                },
                "text": "=⚠️ *Call Analysis Pipeline Failed*\nNode: {{ $execution.lastNodeExecuted }}\nMeeting ID: {{ $('Validate Signature').first().json.meetingId }}\nError: {{ $json.error.message }}\n\nManual review required.",
                "otherOptions": {}
            },
            "id": "node-error-slack",
            "name": "Error: Slack Alert",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.1,
            "position": [
                1340,
                620
            ]
        }
    ],
    "connections": {
        "Fireflies Webhook": {
            "main": [
                [
                    {
                        "node": "Validate Signature",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Signature": {
            "main": [
                [
                    {
                        "node": "Fetch Full Transcript (Fireflies GraphQL)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Full Transcript (Fireflies GraphQL)": {
            "main": [
                [
                    {
                        "node": "Format Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Transcript": {
            "main": [
                [
                    {
                        "node": "Agent 1: Data Extractor (Claude Haiku)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent 1: Data Extractor (Claude Haiku)": {
            "main": [
                [
                    {
                        "node": "Validate & Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Parse JSON": {
            "main": [
                [
                    {
                        "node": "Agent 2: Strategic Synthesizer (Claude Sonnet)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent 2: Strategic Synthesizer (Claude Sonnet)": {
            "main": [
                [
                    {
                        "node": "Merge Agent Outputs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Agent Outputs": {
            "main": [
                [
                    {
                        "node": "Build HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build HTML": {
            "main": [
                [
                    {
                        "node": "HTML → PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTML → PDF": {
            "main": [
                [
                    {
                        "node": "Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "Slack Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "node-error-slack"
    },
    "meta": {
        "templateId": "paioneers-call-analysis-v1"
    }
}